@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*navbar*/
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.navigation ul {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 15px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin-bottom: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: black;
    transition: transform 0.5s;

}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: black;
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -80%;
    width: 50px;
    height: 50px;
    background: #52e3fb;
    border-radius: 50%;
    border: 6px solid black;
    transition: 0.5s;
    margin-right: 280px;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 black;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 black;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

/*scrolling pages*/
body {
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

body .container {
    text-align: center;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    height: 100vh;
}

body .container section {
    flex: none;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

body .container section:nth-of-type(1) {
    background-color: #000000;
    background-image: url("../img/{A}.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


body .container section:nth-of-type(2) {
    background-color: #070707;
    background-image: url("../img/{A} smoll.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body .container section:nth-of-type(3) {
    background-color: #000000;
    background-image: url("../img/{A} smoll.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body .container section:nth-of-type(4) {
    background-color: #070707;
    background-image: url("../img/{A} smoll.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body .container section h1 {
    font-family: Arial, "High Tower Text", sans-serif;
    font-size: 15em;
}

/*.glitch-text {*/
/*    !*font-family: Righteous;*!*/
/*    font-size: 5rem;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    position: relative;*/
/*    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,*/
/*    0.025em 0.04em 0 #fffc00;*/
/*    animation: glitch 725ms infinite;*/
/*}*/

/*.glitch-text span {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.glitch-text .span1 {*/
/*    animation: glitch 500ms infinite;*/
/*    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);*/
/*    transform: translate(-0.04em, -0.03em);*/
/*    opacity: 0.75;*/
/*}*/

/*.glitch-text .span2 {*/
/*    animation: glitch 375ms infinite;*/
/*    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);*/
/*    transform: translate(0.04em, 0.03em);*/
/*    opacity: 0.75;*/
/*}*/

/*@keyframes glitch {*/
/*    0% {*/
/*        text-shadow: 0.05em 0 0 #ff4000, -0.03em -0.04em 0 #fc00ff,*/
/*        0.025em 0.04em 0 #fffc00;*/
/*    }*/
/*    15% {*/
/*        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,*/
/*        0.025em 0.04em 0 #fffc00;*/
/*    }*/
/*    16% {*/
/*        text-shadow: -0.05em -0.025em 0 #ff4d00, 0.025em 0.035em 0 #fc00ff,*/
/*        -0.05em -0.05em 0 #fffc00;*/
/*    }*/
/*    49% {*/
/*        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,*/
/*        -0.05em -0.05em 0 #fffc00;*/
/*    }*/
/*    50% {*/
/*        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,*/
/*        0 -0.04em 0 #fffc00;*/
/*    }*/
/*    99% {*/
/*        text-shadow: 0.05em 0.035em 0 #ff4800, 0.03em 0 0 #fc00ff,*/
/*        0 -0.04em 0 #fffc00;*/
/*    }*/
/*    100% {*/
/*        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,*/
/*        -0.04em -0.025em 0 #00ff22;*/
/*    }*/
/*}*/

/*email form*/
.emailForm {
    flex-grow: 3;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    color: black;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
    text-align: left;
    padding: 20px 10px;
    height: 60%;
    width: 40%;
}

.contactAlign {
    display: flex;
    align-items: flex-start;
}

.contactAlign h2 {
    margin-right: 20px;
}

.emailForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailForm label {
    text-align: left;
    margin-bottom: 5px;
}

.emailForm input,
.emailForm textarea {
    width: 100%;
    padding: 10px 70px;
    margin-bottom: 10px;
    resize: vertical;
}

.emailForm button {
    justify-self: center;
}

#message {
    padding: 20px;
}

#emailSend {
    position: relative;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}


#homeH1 {

    margin-top: 300px;
    font-size: large;
}

.flex-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-content {
    margin-right: 0;
    margin-top: 17%;
    width: calc(60% - 10px);
    /*flex-basis: calc(70% - 10px); !* Adjust the width of the content section *!*/
}

.flex-pic {
    width: 40%; /* Adjust the width of the image section */
    margin-right: auto;
}

#aboutH1 {
    margin-left: 15%;
    font-size: 50px;
    /*width: 900px;*/
}

#linkedinAbout {
    font-size: 30px;
    justify-content: center;
    text-decoration: none;
    color: #0a66c2;
}

#githubAbout {
    font-size: 30px;
    justify-content: center;
    text-decoration: none;
    color: #f0f6fc;
}

#aboutP {
    margin-left: 200px;
    width: 900px;
}

#Headshot {
    align-self: flex-end;
    margin-top: 200px;
    margin-right: 200px;
    border-radius: 20%;
}

.popup {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 50px 30px;
    border-radius: 1rem;
    border: 1px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
    text-align: left;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup p {
    margin-bottom: 20px;
}

.popup #closeButton {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    overflow: hidden;

}

.popup #closeButton:hover {
    background-color: #999;
}

.wrapper{
    display: inline-flex;
}

.wrapper .static-txt{
    margin-top: 200px;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-top: 200px;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    text-align: left;
}

.dynamic-txts li{
    color: #52e3fb;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #52e3fb;
    animation: typing 2s steps(11) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }

}

/*#projects {*/
/*    text-align: center;*/
/*}*/

#projectH1 {
    margin-top: 100px;
    font-size: 3em;
    text-align: center
}

/*.thumbnail-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/

.thumbnail {
    width: 300px;
    height: 200px;
    border: 1px solid white;
    display: inline-block;
    margin: 10px;
}